html {
  font-size: calc(1.1 * 1em);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  max-width: 54em;
  margin: auto;
}

/* front matter */

h1 {
  margin-top: 0;
  font-size: 2.5rem;
  line-height: 110%;
}

#doc-designator {
  font-size: 1.3rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
}

#long-doc-type {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}


#doc-status {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
}

#doc-dates {
  font-size: 0.8rem;
  font-style: italic;
}

#doc-sponsor {
  font-size: 0.8rem;
  font-style: italic;
}

#smpte-logo {
  float: right;
  width: 250px;
  margin: 1rem;
}

/* headers */


h2 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
  break-after: avoid;
}

h2 span.heading-label {
  display: inline-block;
  min-width: 4rem;
}


h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  break-after: avoid;
}

h3 span.heading-label {
  display: inline-block;
  width: 4rem;
}

h4 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  break-after: avoid;
}

h4 span.heading-label {
  display: inline-block;
  width: 4rem;
}

h5 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 1rem;
  break-after: avoid;
}

h5 span.heading-label {
  display: inline-block;
  width: 4rem;
}

h6 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 1rem;
  break-after: avoid;
}

h6 span.heading-label {
  display: inline-block;
  width: 4rem;
}

/* generic sections */

section {
  counter-reset: notes-counter;
}

/* annexes */

section.annex > h2 {
  text-align: left;
}

.annex-cat {
  font-weight: normal;
}

/* terms and definitions */

#sec-terms-and-definitions dd {
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dd + dt {
  margin-top: 1em;
}

dt + dd {
  margin-top: 0.25em;
}

dfn {
  font-style: normal;
}

/* quotes */

q {
  font-style: italic;
}

blockquote {
  font-style: italic;
}

/* note */

.note {
  font-size: 0.8rem;
  margin-left: 1rem;
}

/* example */

.example {
  font-size: 0.9rem;
  margin-left: 1rem;
}

/* lists */

li {
  margin-top: 0.75em;
}

/* heading links */

a.heading-link {
  visibility: hidden;
  text-decoration: none;
  font-size: 0.5em;
  padding-left: 0.5em;
  position: relative;
  bottom: 0.25em;
}

@media only screen {
  h2:hover .heading-link {
    visibility: visible;
  }
  h3:hover .heading-link {
    visibility: visible;
  }
  h4:hover .heading-link {
    visibility: visible;
  }
  h5:hover .heading-link {
    visibility: visible;
  }
  h6:hover .heading-link {
    visibility: visible;
  }
}

/* table of contents */

section#sec-toc ol {
  list-style-type: none;
  margin: 0.25rem 0 0.25rem 0;
}

section#sec-toc li {
  list-style-type: none;
  margin: 0;
}

section#sec-toc span.heading-number {
  display: inline-block;
  width: 10rem;
}

/* tables */

table {
  font-size: 0.8rem;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

thead th {
  background-color: lightgrey;
  font-weight: bold;
  text-align: center;
}

table > caption {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

/* images */

figure > img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* figures */

figure.equation > figcaption {
  float:right;
  font-size: 0.9rem;
  font-weight: normal;
  margin:0;
}

figure.equation {
  margin:0;
  text-align: center;
}

figcaption {
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

figure {
  margin-top: 2em;
}

/* references */

#sec-bibliography ul, #sec-normative-references ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
}

#sec-bibliography li, #sec-normative-references li {
  margin-top: 1rem;
}

/* elements */

#sec-elements ol {
  list-style-type: none;
}

/* links */

.ext-ref {
  word-break: keep-all;
  white-space: nowrap;
}

.dfn-ref {
    text-decoration: underline blue dotted;
    color: black;
}

/* code */

pre {
  padding: 0.5em 0.5em;

  background-color: lightgrey;

  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  font-size: 0.8rem;
  font-family: Consolas, Monaco, monospace;

  line-height: 1.4;

  overflow-x: auto;
}

code {
  font-family: Consolas, Monaco, monospace;
}

/* warning */

#sec-draft-warning {
  padding: 1rem;
  border: 2px lightblue solid;
}

/* print media */

@media print {

  #sec-toc ol li a::after {
    content: target-counter(attr(href), page);
    float: right;
  }

  #doc-designator {
    string-set: pub-designator content(text);
  }

  #doc-status {
    string-set: pub-status content(text);
  }

  #copyright-text {
    string-set: doc-copyright content(text);
  }

  @page:first {
    @top-right {
      content: "";
    }
  }

  @page {
    @top-right {
      content: string(pub-designator);
      width: 20rem;
      font-size: 10px;
      font-weight: bold;
    }

    @bottom-left {
      content: string(doc-copyright);
      width: 35em;
      font-size: 10px;
      font-weight: bold;
    }

    @bottom-right {
      content: "Page " counter(page) " of " counter(pages);
      width: 20rem;
      font-size: 10px;
      font-weight: bold;
    }

    margin: 0.75in;
    padding: 0.1in 0;
  }


  html {
    font-size: 12px;
    max-width: none;
  }

}